@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
     
    main figure.franklinimage {
     
        padding: .25rem;
        max-width: 100%;
        float:left;
}

    section.current table td img{
        width: 20%;
        height: auto;
        text-align: center;
        padding: .25rem;
}
    
    section.current {
        display: inline;
        width: auto;
        height: 90%;
        padding: .25rem;
}
    article p.town-article img { 
        width: fill;         
        height:400px;  
        object-fit:fill;
}
  
}