@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
    main figure {
        
        max-width: none;
        max-height: 5%;
    }
    section.current {
        display: inline;
        width: auto;
        height: 90%;
        padding: .25rem;
}
    article p.town-article img { 
        width: none; 
        
    
    }
  
}